@model NinjaStore.Data.Models.Ninja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ninja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NinjaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NinjaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gold)
        </dd>
    </dl>
</div>
<p>Deze Ninja Bezit:</p>
@{ foreach (var item in ViewBag.NinjaEquipment)
    {
        <p> @item.Name</p>
    }
}

<p>De Shop Bezit:</p>
@{ foreach (var item in ViewBag.BuyAbleEquipment)
    {
        <p> @item.Name</p>
    }
}
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NinjaId }) |
    <a asp-action="Index">Back to List</a>
</div>
