@model NinjaStore.Data.Models.Ninja

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ninja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="NinjaId" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gold" class="control-label"></label>
                <input asp-for="Gold" class="form-control" />
                <span asp-validation-for="Gold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>Deze Ninja Bezit:</p>
<p>Gold: @Model.Gold</p>
@{ foreach (var item in ViewBag.NinjaEquipment)
    {
        <p> @item.Name</p>
        @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
        {
            <input type="hidden" name="itemId" value="@item" />
            <input type="hidden" name="ninjaId" value="@Model" />
            <input type="submit" value="verkopen" />
        }
    }
}

<p>De Shop Bezit:</p>
@{ foreach (var item in ViewBag.BuyAbleEquipment)
    {
        <p>@item.Name</p>
        <p>@item.Value</p>
        @using (Html.BeginForm("BuyItem", "Ninja", FormMethod.Post))
        {
            <input type="hidden" name="itemId" value="@item" />
            <input type="hidden" name="ninjaId" value="@Model" />
            <input type="submit" value="kopen" />
        }

    }
}



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
