@model NinjaStore.Data.Models.Ninja

@{
    ViewData["Title"] = "Ninja winkel";
}


<h1>@Model.Name </h1>
<h2>Goud: @Model.Gold</h2>
<ul>
    <li>Agility: @ViewBag.Agility</li>
    <li>Strength: @ViewBag.Strength</li>
    <li>Intelligence: @ViewBag.Intelligence</li>
</ul>
<hr />

@{
    if (TempData["Error"] != null)
    {
        <p class="error">@TempData["Error"].ToString()</p>
    }
}

<div class="row">
    <div class="column">
        <div class="equipment">
            @if (ViewBag.Head != null)
            {
                var item = ViewBag.Head;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Head</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
        <div class="equipment">

            @if (ViewBag.Hands != null)
            {
                var item = ViewBag.Hands;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Hands</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
        <div class="equipment">

            @if (ViewBag.Feet != null)
            {
                var item = ViewBag.Feet;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Feet</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
    </div>
    <div class="column">
        <img src="~/Schwarzenegger Ninja.jpg" alt="Schwarzenegger Ninja" style="width:100%" />
    </div>
    <div class="column">
        <div class="equipment">

            @if (ViewBag.Necklace != null)
            {
                var item = ViewBag.Necklace;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Necklace</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
        <div class="equipment">

            @if (ViewBag.Chest != null)
            {
                var item = ViewBag.Chest;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Chest</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
        <div class="equipment">
            @if (ViewBag.Ring != null)
            {
                var item = ViewBag.Ring;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Ring</h2>
                <p>Geen item in deze catogory</p>
            }

        </div>
    </div>
</div>
<h1>Shop</h1>
@{ foreach (var item in ViewBag.BuyAbleEquipment)
    {
        <div class="itemInShop">
            <p>@item.Name</p>
            <p>@item.Value goud</p>
            <ul>
                <li>Agility: @item.Agility</li>
                <li>Strength: @item.Strength</li>
                <li>Intelligence: @item.Intelligence</li>
            </ul>
            @using (Html.BeginForm("BuyItem", "Ninja", FormMethod.Post))
            {
                <input type="hidden" name="itemId" value="@item.EquipmentId" />
                <input type="hidden" name="ninjaId" value="@Model.NinjaId" />
                <input type="submit" value="kopen" class="Shopknop" />
            }
        </div>


    }
}

