@model NinjaStore.Web.Models.ShopViewModel;

@{
    ViewData["Title"] = "Ninja winkel";
}


<h1>@Model.CurrentNinja.Name </h1>
<h2>Goud: @Model.CurrentNinja.Gold</h2>
<h2>Waarde inventory: @Model.Worth</h2>
<ul>
    <li>Agility: @Model.Agility</li>
    <li>Strength: @Model.Strength</li>
    <li>Intelligence: @Model.Intelligence</li>
</ul>

<hr />

@{
    if (TempData["Error"] != null)
    {
        <p class="error">@TempData["Error"].ToString()</p>
    }
}

<div class="row">
    <div class="column">
        <div class="equipment">
            @if (Model.Head != null)
            {
                var item = Model.Head;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.CurrentNinja.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Head</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
        <div class="equipment">

            @if (Model.Hands != null)
            {
                var item = Model.Hands;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.CurrentNinja.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Hands</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
        <div class="equipment">

            @if (Model.Feet != null)
            {
                var item = Model.Feet;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.CurrentNinja.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Feet</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
    </div>
    <div class="column">
        <img src="~/Schwarzenegger Ninja.jpg" alt="Schwarzenegger Ninja" style="width:100%" />
    </div>
    <div class="column">
        <div class="equipment">

            @if (Model.Necklace != null)
            {
                var item = Model.Necklace;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.CurrentNinja.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Necklace</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
        <div class="equipment">

            @if (Model.Chest != null)
            {
                var item = Model.Chest;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.CurrentNinja.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Chest</h2>
                <p>Geen item in deze catogory</p>
            }
        </div>
        <div class="equipment">
            @if (Model.Ring != null)
            {
                var item = Model.Ring;
                <h3>@item.Category: @item.Name</h3>
                <ul>
                    <li>Agility: @item.Agility</li>
                    <li>Strength: @item.Strength</li>
                    <li>Intelligence: @item.Intelligence</li>
                </ul>
                @using (Html.BeginForm("SellItem", "Ninja", FormMethod.Post))
                {
                    <input type="hidden" name="itemId" value="@item.EquipmentId" />
                    <input type="hidden" name="ninjaId" value="@Model.CurrentNinja.NinjaId" />
                    <input type="submit" value="verkopen" />
                }
            }
            else
            {
                <h2>Ring</h2>
                <p>Geen item in deze catogory</p>
            }

        </div>
    </div>
</div>
@using (Html.BeginForm("SellAll", "Ninja", FormMethod.Post))
{
    <input type="hidden" name="ninjaId" value="@Model.CurrentNinja.NinjaId" />
    <input type="submit" value="alles verkopen" />
}
<h1>Shop</h1>
@using (Html.BeginForm("Edit", "Ninja", FormMethod.Get))
{
    <input type="hidden" value="@Model.CurrentNinja.NinjaId" name="id">
    <select name="category" asp-items="Html.GetEnumSelectList<NinjaStore.Data.Models.Category>()" style="margin-bottom: 10px">
        <option selected="selected">Selecteren</option>
    </select>
    <input type="submit" value="filteren"/>
}
@{foreach (var item in Model.BuyAbleEquipment)
    {

        <div class="itemInShop">
            <p>@item.Name</p>
            <p>@item.Value goud</p>
            <ul>
                <li>Agility: @item.Agility</li>
                <li>Strength: @item.Strength</li>
                <li>Intelligence: @item.Intelligence</li>
            </ul>
            @using (Html.BeginForm("BuyItem", "Ninja", FormMethod.Post))
            {
                <input type="hidden" name="itemId" value="@item.EquipmentId" />
                <input type="hidden" name="ninjaId" value="@Model.CurrentNinja.NinjaId" />
                <input type="submit" value="kopen" class="Shopknop" />
            }
        </div>


    }
}

