@model IEnumerable<NinjaStore.Data.Models.Ninja>

@{
    ViewData["Title"] = "Ninja lijst";
}

<h1>Ninja lijst</h1>

<p>
    <a asp-action="Create">Nieuwe Ninja toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NinjaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NinjaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                @Html.ActionLink("Winkelen", "Edit", new { id = item.NinjaId }) |
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.NinjaId })
            </td>
        </tr>
}
    </tbody>
</table>
